(
    config: {
        [
            (
                connector: "eDP-1",
                make: "Unknown",
                model: "2399",
            ),
        ]: [
            (
                mode: ((2256, 1504), Some(59999)),
                vrr: r#false,
                scale: 1.25,
                transform: Normal,
                position: (0, 0),
                enabled: r#true,
                max_bpc: Some(12),
                xwayland_primary: false,
            ),
        ],
        [
            (
                connector: "eDP-1",
                make: "BOE",
                model: "0x095F",
            ),
        ]: [
            (
                mode: ((2256, 1504), Some(59999)),
                vrr: r#false,
                scale: 1.25,
                transform: Normal,
                position: (0, 0),
                enabled: r#true,
                max_bpc: Some(12),
                xwayland_primary: false,
            ),
        ],
    },
)