[Desktop Entry]
Type=Application
Exec=/home/{{ .chezmoi.username }}/.local/bin/keepassxc-watch
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=keepassxc-watch
Comment=KeepassXC watch for login, then unlock database