encryption: "age"
age:
  identity: "~/.config/chezmoi/keyfile"
  recipient: "age1jly30sgfrnvx5ggr8q445sqjnx0e2dnfjkyfzf8vd285sdwws38spvm326"
sourceDir: "{{ .chezmoi.config.sourceDir }}"
edit:
{{- if eq .chezmoi.hostname "steamdeck" }}
  command: flatpak run dev.zed.Zed
{{- else }}
  command: zed
{{- end }}
  args: "--wait"
  watch: true
git:
  autocommit: false
  autopush: false
verbose: false
data:
  kdbx_file: "/home/{{ .chezmoi.username }}/documents/confidental/GSKPasswordList.kdbx"
  kdbx_keyfile: ""
