[Desktop Entry]
Type=Application
Exec=/home/{{ .chezmoi.username }}/.config/conky/conky.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Application
Name=Conky
Comment=Start conky script