(
    output: "all",
    source: Path("/home/{{ .chezmoi.username }}/.local/share/wallpaper"),
    filter_by_theme: true,
    rotation_frequency: 7200,
    filter_method: Lanczos,
    scaling_mode: Zoom,
    sampling_method: Alphanumeric,
)