#!/bin/bash
{{ if eq .chezmoi.hostname "steamdeck" }}
profile="/home/${USER}/.var/app/org.mozilla.Thunderbird/.thunderbird/37sjar31.default-esr"
{{ else }}
profile="/home/${USER}/.thunderbird/37sjar31.default-esr"
{{ end }}

if [[ ! -f "${profile}" ]]; then
    mkdir -p "${profile}"
    scp pi1:/srv/dev-disk-by-uuid-fed98fee-2f27-422f-ac75-e73ee6e0d12e/appdata/syncthing/data/Documents/dotfiles-and-stuff/thunderbird-profile.zip "${profile}/.."
{{ if ne .chezmoi.hostname "steamdeck" }}
    unzip -d "${profile}/.." "${profile}/../thunderbird-profile.zip"
{{ end }}
fi
