sourceDir: "{{ .chezmoi.config.sourceDir }}"
workingTree: "{{ joinPath .chezmoi.config.sourceDir ".." }}"
git:
  autocommit: false
  autopush: false
verbose: false
encryption: "age"
age:
  identity: "~/.config/chezmoi/keyfile"
  recipient: "age1jly30sgfrnvx5ggr8q445sqjnx0e2dnfjkyfzf8vd285sdwws38spvm326"