Some(([
    "com.system76.CosmicAppletPower",
    "com.system76.CosmicAppletTiling",
    "com.system76.CosmicAppletWorkspaces",
{{- if or (contains "vm" .chezmoi.hostname) (contains .chezmoi.hostname "framework") }}
    "com.github.hyperchaotic.cosmic-applet-minimon",
{{- end }}
], [
    "com.system76.CosmicAppletStatusArea",
    "dev.DBrox.CosmicGameModeStatus",
    "com.system76.CosmicAppletAudio",
    "com.system76.CosmicAppletNetwork",
    "com.system76.CosmicAppletBattery",
{{- if or (contains "vm" .chezmoi.hostname) (contains .chezmoi.hostname "framework") }}
    "com.system76.CosmicAppletBluetooth",
{{- end }}
    "com.system76.CosmicAppletNotifications",
    "com.system76.CosmicAppletTime",
]))