{
    (
        modifiers: [
            Super,
        ],
        key: "Tab",
    ): System(WorkspaceOverview),
{{- if or (contains "desktop" .chezmoi.hostname) (eq .chezmoi.hostname "mean-machine") }}
    (
        modifiers: [],
        key: "Scroll_Lock",
        description: Some("Toggle USB Mic"),
    ): Spawn("/usr/bin/pactl set-source-mute \"alsa_input.usb-0c76_USB_PnP_Audio_Device-00.mono-fallback\" toggle"),
{{- end }}
    (
        modifiers: [
            Super,
        ],
        key: "k",
    ): Disable,
    (
        modifiers: [
            Super,
            Ctrl,
            Shift,
        ],
        key: "Left",
    ): MoveToOutput(Left),
    (
        modifiers: [
            Super,
        ],
        key: "j",
    ): Disable,
    (
        modifiers: [
            Super,
        ],
        key: "l",
    ): System(LockScreen),
    (
        modifiers: [
            Super,
        ],
        key: "z",
        description: Some("pop-shortcuts"),
    ): Spawn("/usr/bin/pop-shortcuts"),
    (
        modifiers: [
            Super,
            Ctrl,
            Shift,
        ],
        key: "Right",
    ): MoveToOutput(Right),
    (
        modifiers: [
            Super,
        ],
        key: "f",
        description: Some("cosmic-edit"),
    ): Spawn("/usr/bin/cosmic-edit"),
    (
        modifiers: [
            Ctrl,
            Shift,
        ],
        key: "Escape",
        description: Some("Sytem Monitor"),
    ): Spawn("/usr/bin/gnome-system-monitor"),
    (
        modifiers: [
            Super,
        ],
        key: "e",
    ): System(HomeFolder),
    (
        modifiers: [
            Super,
        ],
        key: "h",
    ): Minimize,
}