#!/bin/bash

systemctl --user enable --now arrpc.service

{{ if or (contains "desktop" .chezmoi.hostname) (eq .chezmoi.hostname "mean-machine") }}
systemctl --user enable --now mixMics.service
sudo crontab -l | echo "@reboot /home/${USER}/.config/conky/sysdebugAccess.sh" | sudo crontab
{{-   end }}