#!/bin/bash
kdbx={{ .kdbx_file | quote }}

if [[ ! -f "${kdbx}" ]]; then
    mkdir -p "$(dirname "${kdbx}")"
    scp pi1:/srv/dev-disk-by-uuid-fed98fee-2f27-422f-ac75-e73ee6e0d12e/appdata/syncthing/data/Documents/scm/system_install/secrets/GSKPasswordList.kdbx "${kdbx}"
fi

