{{- if or (contains "framework" .chezmoi.hostname) (eq .chezmoi.hostname "fw") -}}
(
    config: {
        [
            (
                connector: "eDP-1",
                make: "BOE",
                model: "0x095F",
            ),
        ]: [
            (
                mode: ((2256, 1504), Some(59999)),
                vrr: r#false,
                scale: 1.5,
                transform: Normal,
                position: (0, 0),
                enabled: r#true,
                max_bpc: Some(12),
            ),
        ],
        [
            (
                connector: "eDP-1",
                make: "Unknown",
                model: "2399",
            ),
        ]: [
            (
                mode: ((2256, 1504), Some(59999)),
                vrr: r#false,
                scale: 1.25,
                transform: Normal,
                position: (0, 0),
                enabled: r#true,
                max_bpc: Some(12),
            ),
        ],
    },
)
{{- end }}
{{- if or (contains "desktop" .chezmoi.hostname) (eq .chezmoi.hostname "mean-machine") -}}
(
    config: {
        [
            (
                connector: "DP-1",
                make: "Unknown",
                model: "Unknown",
            ),
            (
                connector: "DP-2",
                make: "Unknown",
                model: "MPI5008",
            ),
            (
                connector: "DP-3",
                make: "Unknown",
                model: "24G1WG4",
            ),
            (
                connector: "HDMI-A-1",
                make: "Unknown",
                model: "Unknown",
            ),
        ]: [
            (
                mode: ((2560, 1440), Some(143912)),
                vrr: r#false,
                scale: 1.0,
                transform: Normal,
                position: (1920, 0),
                enabled: r#true,
                max_bpc: Some(16),
            ),
            (
                mode: ((800, 480), Some(59977)),
                vrr: r#false,
                scale: 1.0,
                transform: Normal,
                position: (3680, 1440),
                enabled: r#true,
                max_bpc: Some(16),
            ),
            (
                mode: ((1920, 1080), Some(144001)),
                vrr: r#false,
                scale: 1.0,
                transform: Normal,
                position: (0, 180),
                enabled: r#true,
                max_bpc: Some(16),
            ),
            (
                mode: ((3840, 2160), Some(60000)),
                vrr: r#false,
                scale: 2.0,
                transform: Normal,
                position: (4480, 0),
                enabled: r#false,
                max_bpc: Some(16),
            ),
        ],
        [
            (
                connector: "DP-1",
                make: "PNP(AOC)",
                model: "Q27G2G4",
            ),
            (
                connector: "DP-2",
                make: "Mediatrix Peripherals Inc",
                model: "MPI5008",
            ),
            (
                connector: "DP-3",
                make: "PNP(AOC)",
                model: "24G1WG4",
            ),
            (
                connector: "HDMI-A-1",
                make: "LG Electronics",
                model: "LG TV",
            ),
        ]: [
            (
                mode: ((2560, 1440), Some(143912)),
                vrr: r#true,
                scale: 1.0,
                transform: Normal,
                position: (1920, 0),
                enabled: r#true,
                max_bpc: Some(16),
            ),
            (
                mode: ((800, 480), Some(59977)),
                vrr: r#false,
                scale: 1.0,
                transform: Normal,
                position: (3680, 1440),
                enabled: r#true,
                max_bpc: Some(16),
            ),
            (
                mode: ((1920, 1080), Some(144001)),
                vrr: r#true,
                scale: 1.0,
                transform: Normal,
                position: (0, 120),
                enabled: r#true,
                max_bpc: Some(16),
            ),
            (
                mode: ((3840, 2160), Some(60000)),
                vrr: r#false,
                scale: 2.0,
                transform: Normal,
                position: (4480, 228),
                enabled: r#false,
                max_bpc: Some(16),
            ),
        ],
        [
            (
                connector: "DP-1",
                make: "PNP(AOC)",
                model: "Q27G2G4",
            ),
            (
                connector: "DP-2",
                make: "Mediatrix Peripherals Inc",
                model: "MPI5008",
            ),
            (
                connector: "DP-3",
                make: "PNP(AOC)",
                model: "24G1WG4",
            ),
        ]: [
            (
                mode: ((2560, 1440), Some(143912)),
                vrr: r#true,
                scale: 1.0,
                transform: Normal,
                position: (1920, 0),
                enabled: r#true,
                max_bpc: Some(16),
            ),
            (
                mode: ((800, 480), Some(59977)),
                vrr: r#false,
                scale: 1.0,
                transform: Normal,
                position: (3680, 1440),
                enabled: r#true,
                max_bpc: Some(16),
            ),
            (
                mode: ((1920, 1080), Some(144001)),
                vrr: r#true,
                scale: 1.0,
                transform: Normal,
                position: (0, 156),
                enabled: r#true,
                max_bpc: Some(16),
            ),
        ],
    },
)
{{- end }}